{{- if .Values.certManager.enabled }}
{{- if .Values.certManager.staging.enabled }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ssl-cert-staging
  namespace: {{ .Values.global.namespace }}
spec:
  secretName: ssl-cert-staging
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  dnsNames:
  {{- range .Values.ingress.hosts }}
  - {{ .host }}
  {{- end }}
{{- end }}
{{- end }}
